body {
    background-image: url('../img/background.jpg');
    background-color: #1f1f1f;
}

img {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 43px;
    padding: 0;
}

input {
    color: #777;
}

h1 {
    font-size: 26pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 18pt;
}

input[type='submit'] {
    padding: 8px 15px 8px 15px;
    color: #fff;
    background-color: #777;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    position: relative;
    cursor: pointer;
}

.emphasized {
    color: #e08419;
}

.center-vertical {
    display: table-cell;
    vertical-align: middle;
}

.center-horizontal {
    text-align: center;
}

.clear {
    height: 25px;
}

.left-margin {
    margin-left: 20px;
}

.right-margin {
    margin-right: 20px;
}

.clickable {
    cursor: pointer;
}

header div {
    height: 43px;
}

header .label {
    font-size: 14pt;
    margin-top: 12px;
    color: #d9d9d9;
    display: block;
    text-align: center;
}

#main {
    display: block;
    overflow: hidden;
    float: left;
    position: relative;
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 1100px;
}

#search {
    background: url('../img/search.jpg');
    width: 328px;
    float: left;
}

#search .label {
    width: 100px;
}

#searchForm {
    position: relative;
    top: -22px;
    left: 120px;
}

#searchForm input {
    margin: 0;
    padding: 0;
    height: 21px;
    width: 173px;
}

#profile {
    border: #FFF;
    width: 272px;
    float: left;
}

#logout {
    background: url('../img/logout-bg.jpg');
    width: 139px;
    float: right;
}

#logout .label {
    width: 100%;
}

#photo {
    margin-left: 10px;
}

#photo img {
    border: 3px #555 solid;
    height: 130px;
}

#main-stats {
    visibility: hidden;
    background-color: #eaeaea;
    margin-right: 10px;
    margin-top: 20px;
    display: block;
    height: 70px;
    width: 300px;
    background-color: #eaeaea;
}

#main-follow-button {
    background-color: #eaeaea;
    margin-right: 140px;
    margin-top: 20px;
    display: block;
    height: 70px;
    width: 80px;
}

#follow-button {
    width: 80px;
    height: 100%;
    display: table;
    cursor: pointer;
}

.follow-image {
    background: url('../img/follow-arrow.png');
}

.unfollow-image {
    background: url('../img/unfollow-arrow.png');
}

#follow-label {
    font-size: 14pt;
    vertical-align: bottom;
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
}

#sidebar-container {
    margin: 0 auto;
    width: 1120px;
    overflow: hidden;
    position: absolute;
    top: 230px;
    margin-left: -80px;
    z-index: -1;
}

.underline {
    text-decoration: underline;
}

.sidebar {
    background-color: #eaeaea;
    display: block;
    width: 160px;
    color: #777;
    z-index: 10;
}

.sidebar .title {
    text-align: center;
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 15px;
}

.sidebar ol {
    padding-left: 10px;
    font-size: 12pt;
}

.sidebar table {
    width: 100%;
    margin-bottom: 10px;
    font-size: 9pt;
}

.sidebar td {
    vertical-align: middle;
    padding-bottom: 5px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #777;
}

.sidebar table .img {
    padding-left: 20px;
    width: 35px;
}

.sidebar table .name {
    width: 95px;
    padding-left: 10px;
}

.sidebar td img,.entry-photo img,.comment-first-photo img {
    width: 35px;
    height: 35px;
}

.sidebar form {
    text-align: center;
    margin-top: 20px;
}

.sidebar hr {
    background-color: #000;
}

#left-sidebar {
    visibility: hidden;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 235px;
    margin-left: -80px;
}

#right-sidebar {
    visibility: hidden;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 235px;
    margin-left: 880px;
}

#content {
    display: block;
    margin-left: 140px;
    margin-right: 140px;
}

#entry-form {
    display: block;
    background-color: #79aabe;
    width: 100%;
    height: 110px;
}

.entry-form-line {
    background-color: #eaeaea;
    display: table;
    position: relative;
    top: 10px;
    left: 40px;
    width: 600px;
    height: 40px;
    font-size: 16pt;
    margin-bottom: 10px;
}

.clickable-text {
    border-bottom: 1px dashed;
    cursor: pointer;
}

#wall {
    margin-top: 25px;
    display: table;
    width: 100%
}

.entry-box {
    border-bottom: 1px black solid;
    width: 100%;
    display: table-cell;
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px;
    clear: both;
    float: left;
    clear: both;
}

.entry-photo {
    margin-left: 20px;
    margin-top: 10px;
    width: 35px;
    clear: both;
    float: left;
    display: table-cell;
}

.entry-text {
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
    line-height: 120%;
    display: table-cell;
    float: left;
}

.entry-date {
    font-size: 10pt;
    color: #aaa;
    position: relative;
    float: right;
}

.entry-date img {
    margin-top: 10px;
}

.entry-hr {
    display: block;
    background-color: #999;
    height: 1px;
    clear: both;
    position: relative;
    margin: 0px 20px 10px 20px;
}

.comment-input {
    margin-left: 75px;
    margin-right: 20px;
    float: left;
}

.comment-input input {
    width: 300px;
    height: 25px;
}

.entry-text input {
    width: 300px;
    height: 25px;
}

.entry-text p {
    margin-bottom: 0px;
}

.comment-box {
    display: none;
    margin-left: 20px;
    display: table-cell;
    clear: both;
    float: left;
    margin-top: 20px;
}

.comments {
    background-color: #eaeaea;
    width: 400px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment-author {
    color: #555;
    padding-bottom: 5px;
}

.comment-text {
    color: #777;
}

.comment-textfield input {
    width: 300px;
    height: 25px;
}

.comment-container {
    width: 305px;
    position: relative;
}

.comment-first-photo {
    vertical-align: middle;
    display: table-cell;
    margin-left: 20px;
    width: 35px;
    clear: both;
    float: left;
}

.comment-first-text {
    vertical-align: middle;
    display: table-cell;
    padding-left: 20px;
}

.delete-comment {
    right: 0px;
    top: 0px;
    position: absolute;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: none;
    background-color: #eaeaea;
    border: 1px #aaa solid;
}

.dropdown-selection {
    font-size: 16pt;
}

#choose-time {
    width: 120px;
    height: 80px;
}

#choose-level {
    width: 120px;
    height: 80px;
}

#choose-type {
    width: 190px;
    height: 55px;
}