<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <file>target/haslearntit-test.log</file>
	    <encoder>
	      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
	    </encoder>
		<append>false</append>
	  </appender>

	<logger name="add.haslearntit" level="DEBUG"/>

	<logger name="org.apache.wicket" level="INFO"/>
	<logger name="org.apache.wicket.protocol.http.HttpSessionStore" level="INFO"/>
	<logger name="org.apache.wicket.version" level="INFO"/>
	<logger name="org.apache.wicket.RequestCycle" level="INFO"/>

	<logger name="org.hibernate.SQL" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

</configuration>
